<include file="Common/title" />
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <include file="Common/left" />
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <include file="Common/header" />

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                管理中心
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="JavaScript:void(0)">管理中心</a>
                </li>
                <li class="active">我的管理中心</li>
            </ul>
           
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row" style="margin-left:0;">
                欢迎使用 {:C('title')}后台管理中心
            </div>
            

            
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <include file="Common/footer" />


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="{$public}js/jquery-1.10.2.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery-ui-1.9.2.custom.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery-migrate-1.2.1.min.js{$versionnumber}"></script>
<script src="{$public}js/bootstrap.min.js{$versionnumber}"></script>
<script src="{$public}js/modernizr.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery.nicescroll.js{$versionnumber}"></script>

<!--easy pie chart-->
<script src="{$public}js/easypiechart/jquery.easypiechart.js{$versionnumber}"></script>
<script src="{$public}js/easypiechart/easypiechart-init.js{$versionnumber}"></script>

<!--Sparkline Chart-->
<script src="{$public}js/sparkline/jquery.sparkline.js{$versionnumber}"></script>
<script src="{$public}js/sparkline/sparkline-init.js{$versionnumber}"></script>

<!--icheck -->
<script src="{$public}js/iCheck/jquery.icheck.js{$versionnumber}"></script>
<script src="{$public}js/icheck-init.js{$versionnumber}"></script>

<!-- jQuery Flot Chart-->
<script src="{$public}js/flot-chart/jquery.flot.js{$versionnumber}"></script>
<script src="{$public}js/flot-chart/jquery.flot.tooltip.js{$versionnumber}"></script>
<script src="{$public}js/flot-chart/jquery.flot.resize.js{$versionnumber}"></script>


<!--Morris Chart-->
<script src="{$public}js/morris-chart/morris.js{$versionnumber}"></script>
<script src="{$public}js/morris-chart/raphael-min.js{$versionnumber}"></script>

<!--Calendar-->
<script src="{$public}js/calendar/clndr.js{$versionnumber}"></script>
<script src="{$public}js/calendar/evnt.calendar.init.js{$versionnumber}"></script>
<script src="{$public}js/calendar/moment-2.2.1.js{$versionnumber}"></script>
<script src="{$public}js/underscore-min.js{$versionnumber}"></script>

<!--common scripts for all pages-->
<script src="{$public}js/scripts.js{$versionnumber}"></script>

<!--Dashboard Charts-->
<script src="{$public}js/dashboard-chart-init.js{$versionnumber}"></script>
<include file="Common/footer_bottom" />

</body>
</html>
