<include file="Common/title" />
</head>
<style>
	.sort{
		
		width:30px;
	}
</style>
<body class="sticky-header">

<section>
<!-- left side start-->
<include file="Common/left" />

<!-- main content start-->
<div class="main-content" >

<!-- header section start-->
<include file="Common/header" />

<!-- page heading start-->
<div class="page-heading">
	<h3>
		{$cat_name}
	</h3>
	<ul class="breadcrumb">
		<li>
			<a href="{:U('Index/index')}">控制面板</a>
		</li>
		<li class="active">{$cat_name}</li>
	</ul>
	<div class="state-info">
		<include file="Common/chart_bar" />
	</div>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
	<div class="row">
<section class="panel" style="margin-bottom:0px;">
	<header class="panel-heading">
		{$cat_name}列表
		<span class="tools pull-right">
			<a href="javascript:void(0);" class="fa  <eq name="is_service" value="0"> fa-chevron-up<else/> fa-chevron-down</eq>"> 搜索</a> &nbsp;
			<button class="btn btn-default" type="button" onclick="location.reload()"><i class="fa fa-refresh"></i> 刷新</button>
			<!-- <button class="btn btn-info" type="button" onclick="location.href='{:U('add')}'"><i class="fa fa-plus"></i> 添加</button> -->
		</span>
	</header>
	<div class="panel-body" style=" <eq name="is_service" value="0">display: none;<else/>display: block;</eq>">
<form action="{:U('rep_index')}" method="get">
<div class="col-md-2" style="min-width: 20.666667%;">	
	<div class="input-group panel">
		<span class="input-group-addon">举报人</span>
		<input type="text" name="name" value="{:I('get.name')}" class="form-control" placeholder="">
	</div>
</div>

<div class="col-md-3">	
	<div class="input-group panel">
		<span class="input-group-addon">显示状态</span>
		<select class="form-control" name="status">
			<option value="-1">全部</option>
			<option value="1" <if condition="I('get.status','-1') eq 1"> selected</if> >已查看</option>
			<option value="0" <if condition="I('get.status','-1') eq '0'"> selected</if> >未查看</option>
		  </select>
	</div>
</div>

<div class="col-md-5">	
	<div class="input-group panel">
		<span class="input-group-addon">发布</span>
		<div class="input-group input-large custom-date-range" data-date="2013-07-13" data-date-format="yyyy-mm-dd">
	        <input type="text" class="form-control dpd1" name="start_time" value="<notempty name="info.start_time">{$info.start_time|date='Y-m-d H:i:s',###}</notempty>">
	        <span class="input-group-addon">To</span>
	        <input type="text" class="form-control dpd2" name="end_time" value="<notempty name="info.end_time">{$info.end_time|date='Y-m-d H:i:s',###}</notempty>">
	    </div>
	</div>
</div>
<div class="col-md-1">	
	<button class="btn btn-default" type="submit"><i class="fa fa-search"></i> 查找</button>
</div>

</form>
</section>
		<section class="panel">
			<div class="panel-body">

<table class="table table-bordered">
	<thead>
	<tr>
		<th>ID</th>
		<th>活动标题</th>
		<th>类型</th>
		<th>举报人</th>
		<th>内容</th>
		<th>状态</th>

		<th>时间</th>
		<th>操作</th>
	</tr>
	</thead>
	<form name="form1" id="form_id" method="post" action="{:U('Message/sortlists')}">
	<tbody>
	<volist name="lists" id="vo">
	<tr>
		<td>{$vo.id}</td>
		<td>{$vo.title}</td>
		<td>{$vo.type_name}</td>
		<td>{$vo.username}</td>
		<td>{$vo.content|mb_substr=0,10,'utf-8'}...</td>
		<td>
		<eq name="vo.status" value="1">
			<a href="{:U('Actrep/editnav',array('id'=>$vo['id']))}" class="label label-success label-mini">已查看</a>
		<else />
			<a href="{:U('Actrep/editnav',array('id'=>$vo['id']))}" class="label label-warning label-mini">未查看</a>
		</eq>
		</td>

		<td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
		<td>
		 <a href="{:U('rep_edit',array('id'=>$vo['id']))}" class="btn btn-default btn-sm" id="add-sticky"><i class="fa fa-eye"></i> 查看</a>
		<a href="javascript:void(0);" class="btn btn-default btn-sm jQ_delete_reload" data-href="{:U('del_index',array('id'=>$vo['id']))}" title="确定是否删除举报人“{$vo.username}”的意见，删除以后将无法恢复"><i class="fa fa-times"></i> 删除</a>
		</td>
	</tr>
	</volist>
    <!--<tr>-->
		<!--<td colspan="10">-->
		<!--<button class="btn btn-mini jqUrlSubmitReload" style="cursor:pointer;" ><i class="icon-random"></i>更新排序</button>-->
		<!--</td>-->
	<!--</tr>-->
	</tbody>
	</form>
</table>
			</div>
			
			<div class="panel-body">
				<div class="">
					<ul class="pagination">{$page}</ul>
				</div>
				<h4>Tips:</h4>
				<p>1.状态：<code>已查看</code>表示可以已经查看内容；<code>未查看</code>表示还没有查看该内容</p>
				<!-- <p>2.有效期：<code>开始时间</code>表示当前时间大于该广告开始时间的时间，该广告才可以使用；<code>结束时间</code>表示当前时间小于该广告的结束时间，广告可以正常使用；<code>如果都不设置</code>该广告永久有效；<code>只设置一个时间</code>表示只限制开始或者结束时间</p> -->
			</div>
		</section>
	</div>
	

	
</div>
<!--body wrapper end-->

<!--footer section start-->
<include file="Common/footer" />


</div>
<!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="{$public}js/jquery-1.10.2.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery-ui-1.9.2.custom.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery-migrate-1.2.1.min.js{$versionnumber}"></script>
<script src="{$public}js/bootstrap.min.js{$versionnumber}"></script>
<script src="{$public}js/modernizr.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery.nicescroll.js{$versionnumber}"></script>

<!--easy pie chart-->
<script src="{$public}js/easypiechart/jquery.easypiechart.js{$versionnumber}"></script>
<script src="{$public}js/easypiechart/easypiechart-init.js{$versionnumber}"></script>

<!--icheck -->
<script src="{$public}js/iCheck/jquery.icheck.js{$versionnumber}"></script>
<script src="{$public}js/icheck-init.js{$versionnumber}"></script>

<!-- jQuery Flot Chart-->
<script src="{$public}js/flot-chart/jquery.flot.js{$versionnumber}"></script>
<script src="{$public}js/flot-chart/jquery.flot.tooltip.js{$versionnumber}"></script>
<script src="{$public}js/flot-chart/jquery.flot.resize.js{$versionnumber}"></script>


<!--pickers css-->
<link rel="stylesheet" type="text/css" href="{$public}js/bootstrap-datetimepicker/css/datetimepicker-custom.css{$versionnumber}" />
<!--pickers plugins-->
<script type="text/javascript" src="{$public}js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js{$versionnumber}"></script>
<!--pickers initialization-->
<script src="{$public}js/pickers-init.js{$versionnumber}"></script>

<!--common scripts for all pages-->
<script src="{$public}js/scripts.js{$versionnumber}"></script>
<include file="Common/footer_bottom" />
<script src="{$public}js/common.js{$versionnumber}"></script>

</body>
</html>
