<include file="Common/title" />
</head>

<body class="sticky-header">

<section>
<!-- left side start-->
<include file="Common/left" />

<!-- main content start-->
<div class="main-content" >

<!-- header section start-->
<include file="Common/header" />

<!-- page heading start-->
<div class="page-heading">
	<h3>
		{$cat_name}
	</h3>
	<ul class="breadcrumb">
		<li>
			<a href="{:U('Index/index')}">控制面板</a>
		</li>
		<li>
			<a href="{:U('Admin/index')}">权限管理</a>
		</li>
		<li class="active">{$cat_name}</li>
	</ul>
	<div class="state-info">
		<include file="Common/chart_bar" />
	</div>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
	<div class="row">
<section class="panel" style="margin-bottom:0px;">
	<header class="panel-heading">
		{$cat_name}
		<span class="tools pull-right">
			<button class="btn btn-default" type="button"><i class="fa <eq name="is_service" value="0"> fa-chevron-up<else/> fa-chevron-down</eq>"></i> </button>
			<button class="btn btn-default" type="button" onclick="location.reload()"><i class="fa fa-refresh"></i> 刷新</button>
			<button class="btn btn-info" type="button" onclick="location.href='{:U('add')}'"><i class="fa fa-plus"></i> 添加</button>
		</span>
	</header>
	<div class="panel-body" style=" <eq name="is_service" value="0">display: none;<else/>display: block;</eq>">
<form action="{:U('index')}" method="get">
<div class="col-md-2">	
	<div class="input-group panel">
		<span class="input-group-addon">用户名</span>
		<input type="text" name="username" value="{:I('get.username')}" class="form-control" placeholder="">
	</div>
</div>
<div class="col-md-3">	
	<div class="input-group panel">
		<span class="input-group-addon">角色</span>
		<select name="role_id" class="form-control">
			<option value="-1">全部</option>
			<volist name="role_lists" id="vo">
			<option value="{$vo.id}" <if condition="I('get.role_id','-1') eq $vo['id']"> selected</if>>{$vo.name}</option>
			</volist>
		  </select>
	</div>
</div>
<div class="col-md-2">	
	<div class="input-group panel">
		<span class="input-group-addon">状态</span>
		<select class="form-control" name="status">
			<option value="-1">全部</option>
			<option value="1" <if condition="I('get.status','-1') eq 1"> selected</if> >已启用</option>
			<option value="0" <if condition="I('get.status','-1') eq '0'"> selected</if> >已禁用</option>
		  </select>
	</div>
</div>

<div class="col-md-1">	
	<button class="btn btn-default" type="submit"><i class="fa fa-search"></i> 查找</button>
</div>

</form>
</section>
		<section class="panel">
			<div class="panel-body">

<table class="table table-bordered">
	<thead>
	<tr>
		<th>ID</th>
		<th>用户名</th>
		<th>姓名</th>
		<th>联系方式</th>
		<th>角色</th>
		<th>状态</th>
		<th>操作</th>
	</tr>
	</thead>
	<tbody>
	<volist name="lists" id="vo">
	<tr>
		<td>{$vo.id}</td>
		<td>{$vo.username}</td>
		<td>{$vo.name}</td>
		<td>{$vo.tel}<br>{$vo.email}</td>
		<td>{$vo.role_name}</td>
		<td>
		<eq name="vo.status" value="1">
			<a href="javascript:void(0);" class="label label-success label-mini">已启用</a>
		<else />
			<a href="javascript:void(0);" class="label label-warning label-mini">已禁用</a>
		</eq>
		<eq name="vo.role_status" value="0">
			<a href="javascript:void(0);" class="label label-warning label-mini">角色已禁用</a>
		</eq>
		</td>
		<td>
		<a href="{:U('Admin/edit',array('id'=>$vo['id']))}" class="btn btn-default btn-sm" id="add-sticky"><i class="fa fa-edit"></i> 编辑</a>
			<if condition="$vo['id'] neq 2">
		<a href="javascript:void(0);" class="btn btn-default btn-sm jQ_delete_reload" data-href="{:U('Admin/del_index',array('id'=>$vo['id']))}" title="取得是否删除“{$vo.username}”删除以后将无法恢复"><i class="fa fa-times"></i> 删除</a>
				</if>
		</td>
	</tr>
	</volist>
   
	</tbody>
</table>
			</div>
			
			<div class="panel-body">
				<div class="">
					<ul class="pagination">{$page}</ul>
				</div>
				<h4>Tips:</h4>
				<p>1.状态：<code>已启用</code>表示该管理员可以正常使用；<code>已禁用</code>表示该管理无法正常登陆；<code>(已启用/已禁用)角色已禁用</code>表示该管理员无法登陆</p>
				<p>2.权限：修改管理员的权限，请到角色管理里面设置</p>
			</div>
		</section>
	</div>
	

	
</div>
<!--body wrapper end-->

<!--footer section start-->
<include file="Common/footer" />


</div>
<!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="{$public}js/jquery-1.10.2.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery-ui-1.9.2.custom.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery-migrate-1.2.1.min.js{$versionnumber}"></script>
<script src="{$public}js/bootstrap.min.js{$versionnumber}"></script>
<script src="{$public}js/modernizr.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery.nicescroll.js{$versionnumber}"></script>

<!--easy pie chart-->
<script src="{$public}js/easypiechart/jquery.easypiechart.js{$versionnumber}"></script>
<script src="{$public}js/easypiechart/easypiechart-init.js{$versionnumber}"></script>

<!--icheck -->
<script src="{$public}js/iCheck/jquery.icheck.js{$versionnumber}"></script>
<script src="{$public}js/icheck-init.js{$versionnumber}"></script>

<!-- jQuery Flot Chart-->
<script src="{$public}js/flot-chart/jquery.flot.js{$versionnumber}"></script>
<script src="{$public}js/flot-chart/jquery.flot.tooltip.js{$versionnumber}"></script>
<script src="{$public}js/flot-chart/jquery.flot.resize.js{$versionnumber}"></script>


<!--common scripts for all pages-->
<script src="{$public}js/scripts.js{$versionnumber}"></script>
<include file="Common/footer_bottom" />
<script src="{$public}js/common.js{$versionnumber}"></script>

</body>
</html>
