<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="Enet360">
	<!-- <link rel="shortcut icon" href="#" type="image/png"> -->
	<link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="bookmark" href="/favicon.ico"/>
	<title>{:C('title')} - 管理系统</title>

	<!--icheck-->
	<link href="{$public}js/iCheck/skins/minimal/minimal.css{$versionnumber}" rel="stylesheet">
	<link href="{$public}js/iCheck/skins/square/square.css{$versionnumber}" rel="stylesheet">
	<link href="{$public}js/iCheck/skins/square/red.css{$versionnumber}" rel="stylesheet">
	<link href="{$public}js/iCheck/skins/square/blue.css{$versionnumber}" rel="stylesheet">

	<!--dashboard calendar-->
	<link href="{$public}css/clndr.css{$versionnumber}" rel="stylesheet">

	<!--Morris Chart CSS -->
	<link rel="stylesheet" href="{$public}js/morris-chart/morris.css{$versionnumber}">

	<!--common-->
	<link href="{$public}css/style.css{$versionnumber}" rel="stylesheet">
	<link href="{$public}css/style-responsive.css{$versionnumber}" rel="stylesheet">


	<style>
		table td{
			 word-wrap: break-word;
			word-break: break-all;
		}
	</style>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{$public}js/html5shiv.js{$versionnumber}"></script>
	<script src="{$public}js/respond.min.js{$versionnumber}"></script>
	<![endif]-->