<extend name="Boot:boot" />
<block name="page-content">
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<!-- 返回信息 -->
				<div class="error-message" style="display:none;"></div>

				<!-- end -->
			</div>
		</div>
		<!-- /.row -->
	</div>

</block>
<block name="page-scripts">
	<script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script>
	<script src="__PUBLIC__/Admin/js/jquery.dataTables.bootstrap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/teajs/jquery_asyncoper.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			// 隐藏、显示
			$(".flip").click(function(){
				var precent = $(this).attr('data');
				$("tr[parent='"+precent+"']").slideToggle("slow");
			});
		});
		//绑定删除的点击事件
		$(".dleLink").click(function () {
			var url="{:U('Admin/DataBase/del_backup')}";
			del(url,$(this));
		});
	</script>
</block>