<include file="Common/title" />
<link href="{$public}css/jquery.stepy.css{$versionnumber}" rel="stylesheet">

  <!--pickers css-->
  <link rel="stylesheet" type="text/css" href="{$public}js/bootstrap-datetimepicker/css/datetimepicker-custom.css{$versionnumber}" />
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <include file="Common/left" />
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <include file="Common/header" />

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                {$cat_name}
            </h3>
            <ul class="breadcrumb">
                <li>
					<a href="{:U('Index/index')}">控制面板</a>
				</li>
				<li>
					<a href="{:U('Comment/index')}">评论管理</a>
				</li>
				<li class="active">{$cat_name}</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
<div class="row">
<div class="col-md-12">
	<section class="panel">
		<div class="panel-body">
			<form action="" id="data_form_id" onsubmit="submit_form();return false;" class="form-horizontal ">
				
				<div class="form-group">
					<label class="control-label col-md-3">标题</label>
					<div class="col-md-7 col-xs-11">
							<input class="form-control form-control-inline input-medium" size="16" type="text" value="{$info.title}" readonly/>
						
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-md-3">评论人</label>
					<div class="col-md-7 col-xs-11">
							<input class="form-control form-control-inline input-medium" size="16" type="text" value="{$info.username}" readonly/>
						
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">评论内容</label>
					<div class="col-md-7 col-xs-11">
						<textarea name="content" class="form-control form-control-inline input-medium" style="min-height: 80px;" readonly="readonly">{$info.content}</textarea>
						
					</div>
				</div>
				<div class="form-group" style="text-align: center;">
					<div class="col-lg-offset-2 col-lg-10">
						<input name="id" type="hidden" value="{$info.id}">
						<!--<button class="btn btn-primary" type="submit">保存并关闭</button>-->
						<button class="btn btn-default" type="button" style="margin-right: 50px;"><a href="javascript:history.back(-1);" class="back iconfont icon-fanhui">返回</a></button>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">评论回复内容</label>
					<div class="col-md-7 col-xs-11">
						<section class="panel">
							<div class="panel-body">

								<table class="table table-bordered">
									<thead>
									<tr>
										<th>ID</th>
										<th>评论人</th>
										<th>内容</th>
										<th>状态</th>
										<th>时间</th>
										<th>操作</th>
									</tr>
									</thead>
									<tbody>
									<volist name="datas" id="vo">
										<tr>
											<td>{$vo.id}</td>
											<td>{$vo.username}</td>
											<td style="max-width: 400px;">{$vo.content|mb_substr=0,10,'utf-8'}...</td>

											<td>
											<if condition="$vo['status'] eq 1">
												<a href="javascript:editrey({$vo.id});" class="label label-success label-mini">已查看</a>
											<else/>
												<a href="javascript:editrey({$vo.id});" class="label label-warning label-mini">未查看</a>
											</if>
											</td>
											<td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-sm jQ_delete_reload" data-href="{:U('del_rey',array('id'=>$vo['id']))}" title="确定是否删除该评论,删除以后将无法恢复"><i class="fa fa-times"></i> 删除</a>
												<a href="javascript:editnav({$vo.id});" class="btn btn-default btn-sm"><i class="fa fa-eye"></i>
													<span class="text_{$vo.id}"><if condition="$vo['isshow'] eq '1'">不显示<else />显示</if></span>
												</a>
											</td>
										</tr>
									</volist>

									</tbody>
								</table>
							</div>
							<div class="panel-body">
								<div class="">
									<ul class="pagination">{$page}</ul>
								</div>

							</div>
						</section>
					</div>

				</div>

			</form>
		</div>
	</section>
</div>
</div>
        </div>
        <!--body wrapper end-->
        <include file="Common/footer" />
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="{$public}js/jquery-1.10.2.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery-ui-1.9.2.custom.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery-migrate-1.2.1.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery.validate.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery.stepy.js{$versionnumber}"></script>
<script src="{$public}js/bootstrap.min.js{$versionnumber}"></script>
<script src="{$public}js/modernizr.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery.nicescroll.js{$versionnumber}"></script>

<!--pickers plugins-->
<script type="text/javascript" src="{$public}js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js{$versionnumber}"></script>


<!--pickers initialization-->
<script src="{$public}js/pickers-init.js{$versionnumber}"></script>

<!--common scripts for all pages-->
<script src="{$public}js/scripts.js{$versionnumber}"></script>
<include file="Common/footer_bottom" />
<script src="{$public}js/common.js{$versionnumber}"></script>
<script>
function submit_form(){
	layer.load(0, {shade: [0.2,'#616161']});
	$("#data_form_id").ajaxSubmit({
		type: "post",
		beforeSubmit:function(data){
		console.log(data);
			$.each(data,function(i){
				if(data[i]['name'] == 'username' && data[i]['value'] == '' ){
					layer.closeAll('loading');
					$("input[name='"+data[i]['name']+"']").focus();
					return false;
				}
			});
			
		},
		success:function(data){
			layer.closeAll('loading');
			if(data.status == 1){
				layer.msg(data.info,{shift:1,time:1500},function(){
					window.location.href = data.url;
				});
			}else{
				layer.msg(data.info,{shift:6,time:3000});
			}
		},
		dataType:	"json"
	});
}

//修改评论回复的通过状态
function editrey(id){
	$.ajax({
		type: 'post',
		url: "{:U('editrey')}",
		data:{
			'id':id,
		},
		dataType:'json',
		success:function(data){
			layer.closeAll('loading');
			if(data.status){
				layer.msg(data.info,{time:1500},function(){
					window.location.reload();
				});
			}else{
				layer.msg(data.info,{time:1500},function(){});
			}

		}
	});
}

//修改评论的回复是否显示
function editnav(id){
	$.ajax({
		type: 'post',
		url: "{:U('editnav_reply')}",
		data:{
			'id':id,
		},
		dataType:'json',
		success:function(data){
			layer.closeAll('loading');
			if(data.status){
				layer.msg(data.info,{time:1500},function(){
					var text = $(".text_"+id).text();
					if(text == '显示'){
						$(".text_"+id).text('不显示');
					}else if(text == '不显示'){
						$(".text_"+id).text('显示');
					}
				});
			}else{
				layer.msg(data.info,{time:1500},function(){});
			}

		}
	});
}



</script>
<!--/**编辑器 kindeditor **/-->
<script type="text/javascript">
var Kind_upload_json = "{:U('Kind/upload_json')}";
var Kind_file_manager_json = "{:U('Kind/file_manager_json')}";
var Kind_DiyImgName = 'ads';
</script>
<link href="{$source}kindeditor/themes/default/default.css{$versionnumber}" rel="stylesheet" type="text/css"/>
<script src="{$source}kindeditor/kindeditor-min.js{$versionnumber}" type="text/javascript"></script>
<script src="{$source}kindeditor/lang/zh_CN.js{$versionnumber}" type="text/javascript"></script>
<script src="{$source}kindeditor/config.js{$versionnumber}" type="text/javascript"></script>
</body>
</html>
