<include file="Common/title" />
<link href="{$public}css/jquery.stepy.css{$versionnumber}" rel="stylesheet">

  <!--pickers css-->
  <link rel="stylesheet" type="text/css" href="{$public}js/bootstrap-datetimepicker/css/datetimepicker-custom.css{$versionnumber}" />
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <include file="Common/left" />
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <include file="Common/header" />

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                {$cat_name}
            </h3>
            <ul class="breadcrumb">
                <li>
					<a href="{:U('Index/index')}">控制面板</a>
				</li>
				<li>
					<a href="{:U('Circle/index')}">科研项目</a>
				</li>

				<li>{$cat_name}</li>
				<li class="active">
					<a href="javascript:history.back(-1);">返回</a>
				</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
<div class="row">
<div class="col-md-12">
	<section class="panel">
<header class="panel-heading custom-tab">
<ul class="nav nav-tabs">
	<li class="active"><a href="#tab_1" data-toggle="tab">申请</a></li>
</header>
<div class="panel-body">
<form action="" id="data_form_id" onsubmit="submit_form();return false;" class="form-horizontal ">
<div class="tab-content">
	<div class="tab-pane active" id="tab_1">
		<section class="panel">
			<div class="panel-body form-horizontal ">

				<div class="form-group">
					<label class="control-label col-md-3">科研项目标题</label>
					<div class="col-md-7 col-xs-11">
						<input class="form-control form-control-inline input-medium" size="16" type="text" value="{$info.title}" disabled/>

					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3">申请人</label>
					<div class="col-md-7 col-xs-11">
						<input class="form-control form-control-inline input-medium" size="16" type="text" value="{$info.mid_username}" disabled/>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3">申请人手机号</label>
					<div class="col-md-7 col-xs-11">
						<input class="form-control form-control-inline input-medium" size="16" type="text" value="{$info.mid_phone}" disabled/>

					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3">申报金额</label>
					<div class="col-md-7 col-xs-11">
						<input class="form-control form-control-inline input-medium" size="16" type="text" name="money" value="{$info.money}"/>

					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3">导师</label>
					<div class="col-md-7 col-xs-11">
						<input class="form-control form-control-inline input-medium" size="16" type="text" value="{$info.tid_username}" disabled/>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3">导师手机号</label>
					<div class="col-md-7 col-xs-11">
						<input class="form-control form-control-inline input-medium" size="16" type="text" name="phone" value="{$info.phone}"/>

					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3">导师职称</label>
					<div class="col-md-7 col-xs-11">
						<input class="form-control form-control-inline input-medium" size="16" type="text" value="{$info.technical}" disabled/>

					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3">申请书</label>
					<div class="col-md-7 col-xs-11">
						<div class="input-group m-bot15">
							<input type="text" class="form-control" name="files_start" value="{$info.files_start}" disabled>
							<span class="input-group-btn">
							<button class="btn btn-default insertfile" type="button"><a href="{$info.files_start}">查看</a></button>
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3">中期检查</label>
					<div class="col-md-7 col-xs-11">
						<div class="input-group m-bot15">
							<input type="text" class="form-control" name="files_in" value="{$info.files_in}" disabled>
							<span class="input-group-btn">
							<button class="btn btn-default insertfile" type="button"><a href="{$info.files_in}">查看</a></button>
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3">结题</label>
					<div class="col-md-7 col-xs-11">
						<div class="input-group m-bot15">
							<input type="text" class="form-control" name="files_end" value="{$info.files_end}" disabled>
							<span class="input-group-btn">
							<button class="btn btn-default insertfile" type="button"><a href="{$info.files_end}">查看</a></button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">评分（分）</label>
					<div class="col-md-7 col-xs-11">
						<input class="form-control form-control-inline input-medium" size="16" type="text" name="grade" value="{$info.grade}"/>
						<span class="help-block">正常情况下请不要修改此分数</span>
					</div>

				</div>
				<div class="form-group">
					<label class="control-label col-md-3">审批状态</label>
					<div class="col-md-5 col-xs-11">

						<div class="radio col-md-4">
							<label>

								<input name="examine" value="1" type="radio" <if condition="($info['examine'] eq 1) OR ($info['examine'] eq 0)"> checked</if> >
								已提交
							</label>
						</div>

						<div class="radio col-md-4">
							<label>
								<input name="examine" value="2" type="radio"  <eq name="info.examine" value="2"> checked</eq> >
								通过
							</label>
						</div>

						<div class="radio col-md-4">
							<label>
								<input name="examine" value="3" type="radio"  <eq name="info.examine" value="3"> checked</eq> >
								驳回
							</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3">说明内容</label>
					<div class="col-md-7 col-xs-11">
						<textarea name="content" id="content" width="100%" style="width:100%;min-height:100px;">{$info.content}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">申请时间</label>
					<div class="col-md-7 col-xs-11">
						<input class="form-control form-control-inline input-medium" size="16" type="text" value="{$info.create_time|date='Y-m-d H:i:s',###}" disabled/>

					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<input name="id" type="hidden" value="{$info.id}">
						<input name="aid" type="hidden" value="{$info.aid}">
						<input name="mid" type="hidden" value="{$info.mid}">
						<input name="tid" type="hidden" value="{$info.tid}">
						<button class="btn btn-primary" type="submit">保存并关闭</button>
						<button class="btn btn-default" type="button" onclick="location.href='{:U('show')}'">取消</button>
					</div>
				</div>
				

			</div>
		</section>
	</div>
</div>
</form>
</div>
	</section>
</div>
</div>
        </div>
        <!--body wrapper end-->
        <include file="Common/footer" />
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="{$public}js/jquery-1.10.2.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery-ui-1.9.2.custom.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery-migrate-1.2.1.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery.validate.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery.stepy.js{$versionnumber}"></script>
<script src="{$public}js/bootstrap.min.js{$versionnumber}"></script>
<script src="{$public}js/modernizr.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery.nicescroll.js{$versionnumber}"></script>

<!--pickers plugins-->
<script type="text/javascript" src="{$public}js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js{$versionnumber}"></script>


<!--pickers initialization-->
<script src="{$public}js/pickers-init.js{$versionnumber}"></script>

<!--common scripts for all pages-->
<script src="{$public}js/scripts.js{$versionnumber}"></script>
<include file="Common/footer_bottom" />
<script>
function submit_form(){
	
	layer.load(0, {shade: [0.2,'#616161']});
	$("#data_form_id").ajaxSubmit({
		type: "post",
		beforeSubmit:function(data){
			$.each(data,function(i){
				if(data[i]['name'] == 'username' && data[i]['value'] == '' ){
					layer.closeAll('loading');
					$("input[name='"+data[i]['name']+"']").focus();
					return false;
				}
			});
			
		},
		success:function(data){
			layer.closeAll('loading');
			if(data.status == 1){
				layer.msg(data.info,{shift:1,time:1500},function(){
					window.location.href = data.url;
				});
			}else{
				layer.msg(data.info,{shift:6,time:3000});
			}
		},
		dataType:	"json"
	});
}
</script>

</body>


</html>
