<include file="Common/title" />
<link href="{$public}css/jquery.stepy.css{$versionnumber}" rel="stylesheet">

  <!--pickers css-->
  <link rel="stylesheet" type="text/css" href="{$public}js/bootstrap-datetimepicker/css/datetimepicker-custom.css{$versionnumber}" />
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <include file="Common/left" />
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <include file="Common/header" />

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                {$cat_name}
            </h3>
            <ul class="breadcrumb">
                <li>
					<a href="{:U('Index/index')}">控制面板</a>
				</li>
				<li>
					<a href="{:U('Circle/index')}">内容管理</a>
				</li>
				<li class="active">{$cat_name}</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
<div class="row">
<div class="col-md-12">
	<section class="panel">
<header class="panel-heading custom-tab">
<ul class="nav nav-tabs">
	<li class="active"><a href="#tab_1" data-toggle="tab">基础</a></li>
	<li><a href="#tab_2" data-toggle="tab">内容</a></li>
</ul>
</header>
<div class="panel-body">
<form action="" id="data_form_id" onsubmit="submit_form();return false;" class="form-horizontal ">
<div class="tab-content">
	<div class="tab-pane active" id="tab_1">
		<section class="panel">
			<div class="panel-body form-horizontal ">

				<div class="form-group">
					<label class="control-label col-md-3">标题</label>
					<div class="col-md-7 col-xs-11">
							<input class="form-control form-control-inline input-medium" size="16" type="text" name="title" value="{$info.title}"/>
							<span class="help-block">文库标题不可为空</span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-md-3">所属一级分类</label>
					<div class="col-md-7 col-xs-11">
							<select name="cat_id_two" class="form-control form-control-inline input-medium cat_lists_two">
							<option value="0" >请选择一级分类</option>
								<volist name="cat_lists" id="vo">
								<option value="{$vo.id}" <if condition="$cat['up_id'] eq $vo['id']"> selected</if>>{$vo.catname}</option>
								</volist>
							</select>
						<span class="help-block">一级分类不可为空</span>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3">所属二级分类</label>
					<div class="col-md-7 col-xs-11">
						<select name="cat_id" class="form-control form-control-inline input-medium cat_lists">
							<option value="0" >请选择二级分类</option>
							<volist name="cat_list" id="vo">
								<option value="{$vo.id}" <if condition="$info['cat_id'] eq $vo['id']"> selected</if>>{$vo.catname}</option>
							</volist>
						</select>
						<span class="help-block">分类不可为空</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">级别</label>
					<div class="col-md-7 col-xs-11">
						<select name="rank_id" class="form-control form-control-inline input-medium">
							<option value="0" >请选择项目级别</option>

							<volist name="rank_list" id="co">
								<option value="{$co.id}" <if condition="$info['rank_id'] eq $co['id']"> selected</if>>{$co.catname}</option>
							</volist>

						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">项目参与人数（人）</label>
					<div class="col-md-7 col-xs-11">
						<input class="form-control form-control-inline input-medium" size="16" type="text" name="nums" value="{$info.nums}"/>
						<span class="help-block">项目可报名人数</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">活动时间</label>
					<div class="col-md-7 col-xs-11">
						<div class="input-group input-large custom-date-range" data-date="2013-07-13" data-date-format="yyyy-mm-dd">
							<input type="text" class="form-control dpd1" name="start_time" value="<notempty name="info.start_time">{$info.start_time|date='Y-m-d H:i:s',###}</notempty>">
							<span class="input-group-addon">To</span>
							<input type="text" class="form-control dpd2" name="end_time" value="<notempty name="info.end_time">{$info.end_time|date='Y-m-d H:i:s',###}</notempty>">
						</div>
						<span class="help-block">请选择活动开始时间和结束时间，开始时间需要大于当前时间并且小于结束时间</span>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3">简介</label>
					<div class="col-md-7 col-xs-11">
						<textarea name="info" id="info" width="100%" style="width:100%;min-height:100px;">{$info.info}</textarea>
					</div>
				</div>


				<div class="form-group">
					<label class="control-label col-md-3">缩略图</label>
					<div class="col-md-7 col-xs-11">
						<div class="input-group m-bot15">

							<input type="text" class="form-control" name="thumb" id="thumb_input" value="{$info.thumb}">
							<span class="input-group-btn">
								<button class="btn btn-default enet360_upload_images" var_id="thumb" type="button">上传</button>
							</span>
						</div>
						<span class="help-block">缩略图宽高157px*218px（比例1:1.4）</span>
						<div class="fileupload fileupload-new">
							<div class="fileupload-new thumbnail" style="max-width: 100%; height: auto;">
								<img id="thumb_img" src="{$info.thumb|default='/Uploads/noimg.png'|Thumb}" alt="" style="min-width:157px;height:218px;"/>
							</div>
						</div>
						<span class="help-block">请上传缩略图</span>

					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">文件</label>
					<div class="col-md-7 col-xs-11">
						<div class="input-group m-bot15">
							<input type="text" class="form-control" name="files" id="url" value="{$info.files}">
							<span class="input-group-btn">
							<button class="btn btn-default insertfile" type="button">上传</button>
							</span>
						</div>
						<span class="help-block">请上传附件</span>
					</div>
				</div>


				<div class="form-group">
					<label class="control-label col-md-3">属性</label>
					<div class="col-md-7 col-xs-11" style="margin-top: 5px;">
						<input name="flag[]" type="checkbox" size="16" id="flag" value="r" <if condition="in_array('r',$flag)">checked</if> > 推荐(勾选推荐到首页)
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">显示状态</label>
					<div class="col-md-4 col-xs-11">

							<div class="radio col-md-6">
								<label>
									<input name="status" value="1" type="radio" <eq name="info.status" value="1"> checked</eq> >
									已启用
								</label>
							</div>

							<div class="radio col-md-6">
								<label>
									<input name="status" value="0" type="radio"  <eq name="info.status" value="0"> checked</eq> >
									已禁用
								</label>
							</div>

						<span class="help-block"></span>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<input name="id" type="hidden" value="{$info.id}">
						<button class="btn btn-primary" type="submit">保存并关闭</button>
						<button class="btn btn-default" type="button" onclick="location.href='{:U('index')}'">取消</button>
					</div>
				</div>
				

			</div>
		</section>
	</div>
	<div class="tab-pane" id="tab_2">
		<section class="panel">
			<div class="panel-body form-horizontal " style="border: 1px solid #d5d5d5;">

				<div class="form-group">
					<div class="col-md-12 col-xs-11" class="cimg">

						<textarea name="content" id="editor_id" width="100%" style="width: 100%;height:400px;" class=" enet360_content_simple">{$info.content}</textarea>
						<span class="help-block"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10" style="text-align:center;padding-right:20%;">
						<input name="id" type="hidden" value="{$info.id}">
						<button class="btn btn-primary" type="submit">保存并关闭</button>
						<button class="btn btn-default" type="button" onclick="location.href='{:U('index')}'">取消</button>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
</form>
</div>
	</section>
</div>
</div>
        </div>
        <!--body wrapper end-->
        <include file="Common/footer" />
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="{$public}js/jquery-1.10.2.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery-ui-1.9.2.custom.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery-migrate-1.2.1.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery.validate.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery.stepy.js{$versionnumber}"></script>
<script src="{$public}js/bootstrap.min.js{$versionnumber}"></script>
<script src="{$public}js/modernizr.min.js{$versionnumber}"></script>
<script src="{$public}js/jquery.nicescroll.js{$versionnumber}"></script>

<!--pickers plugins-->
<script type="text/javascript" src="{$public}js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js{$versionnumber}"></script>


<!--pickers initialization-->
<script src="{$public}js/pickers-init.js{$versionnumber}"></script>

<!--common scripts for all pages-->
<script src="{$public}js/scripts.js{$versionnumber}"></script>
<include file="Common/footer_bottom" />
<script>
function submit_form(){
	
	layer.load(0, {shade: [0.2,'#616161']});
	$("#data_form_id").ajaxSubmit({
		type: "post",
		beforeSubmit:function(data){
			$.each(data,function(i){
				if(data[i]['name'] == 'username' && data[i]['value'] == '' ){
					layer.closeAll('loading');
					$("input[name='"+data[i]['name']+"']").focus();
					return false;
				}
			});
			
		},
		success:function(data){
			layer.closeAll('loading');
			if(data.status == 1){
				layer.msg(data.info,{shift:1,time:1500},function(){
					window.location.href = data.url;
				});
			}else{
				layer.msg(data.info,{shift:6,time:3000});
			}
		},
		dataType:	"json"
	});
}

$(document).on('change','.cat_lists_two',function(){
	var val = $(this).val();
	$.ajax({
		type: 'post',
		url: "{:U('cat_lists')}",
		data: {
			'val':val,
		},
		dataType:'json',
		success: function(data) {
//			console.log(data);
			var html = '<option value="0" >请选择二级分类</option>';
			if(data.status == 1){
				$.each(data.date,function(m,n){
					html += '<option value="'+n.id+'">'+n.catname+'</option>';
				});

				$('.cat_lists').html(html);
			}else{
				layer.msg('请先添加此分类下的二级分类',{time:1500},function(){
					$('.cat_lists').html(html);
				});

				return false;
			}
		}
	});

});

$(document).on('click','.cat_lists',function(){

	var val = $('.cat_lists_two').val();

	if(val == 0){
		alert('请先选择一级分类');
//		layer.msg('请先选择一级分类',{time:1500},function(){});
//		layer.open({
//			type: 1,
//			skin: 'layui-layer-demo', //样式类名
//			closeBtn: 0, //不显示关闭按钮
//			anim: 2,
//			shadeClose: true, //开启遮罩关闭
//			content: '请先选择一级分类'
//		});
	}else{
		return true;
	}

});

</script>

</body>
<!--/**编辑器 kindeditor **/-->
<script type="text/javascript">
	var Kind_upload_json = "{:U('Kind/upload_json')}";
	var Kind_file_manager_json = "{:U('Kind/file_manager_json')}";
	//var Kind_DiyImgName = 'activity';
</script>
<link href="{$source}kindeditor/themes/default/default.css{$versionnumber}" rel="stylesheet" type="text/css"/>
<script src="{$source}kindeditor/kindeditor-min.js{$versionnumber}" type="text/javascript"></script>
<script src="{$source}kindeditor/lang/zh_CN.js{$versionnumber}" type="text/javascript"></script>
<script src="{$source}kindeditor/config.js{$versionnumber}" type="text/javascript"></script>


</html>
